@model PagedList<Vocabulary>
@using X.PagedList;
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Vocabulary Page";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<head>
	<style>
		.ListPage ul {
			justify-content: center;
		}

			.ListPage ul li{
				background-color: #e9a5be ;
				margin: 0px 5px;
				padding: 0px 6px;
				border-radius: 10px;
				border: 1px solid #e9a5be;
			}

				.ListPage ul li a{
					color: white;
				}
	</style>
</head>
<body>
	<section class="main-banner" id="top">
		<div class="container">
			<form class="btn-search" style="margin:auto;max-width:600px; padding-bottom: 80px;">
				<input type="text" placeholder="Search.." name="search" id="search" value="@ViewBag.Search">
				<button type="submit" id="btnSubmit"><i class="fa fa-search"></i></button>
			</form>
			<table id="list-vocabulary" class="table">
				<thead>
					<tr>
						<th>Tên tiếng anh</th>
						<th>Tên tiếng việt</th>
						<th>Loại</th>
						<th>Chú thích</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.Nameen</td>
							<td>@item.Namevn</td>
							<td>@item.Type</td>
							<td>@item.Title</td>
						</tr>
					}
				</tbody>
			</table>
			<h6>@ViewBag.Null</h6>
			<div class="ListPage">
				@Html.PagedListPager(Model, page => Url.Action("Search", new { search = @ViewBag.Search, page = page }))
			</div>
		</div>
	</section>
</body>


