@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Vocabulary Page";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@model List<Vocabulary>
<section class="main-banner" id="top">
    <div class="container">
<form class="btn-search" style="margin:auto;max-width:600px; padding-bottom: 80px;">
    <input type="text" placeholder="Search.." name="search" id="search" value="@ViewBag.Search">
    <button type="submit" id="btnSubmit"><i class="fa fa-search"></i></button>
</form>
<table id="list-vocabulary" class="table">
    <thead>
        <tr>
            <th>Tên tiếng anh</th>
            <th>Tên tiếng việt</th>
            <th>Loại</th>
            <th>Chú thích</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nameen</td>
                <td>@item.Namevn</td>
                <td>@item.Type</td>
                <td>@item.Title</td>
            </tr>
        }
    </tbody>
</table>
<button class="btn-primary" style="width: 80px;height: 40px;border-radius: 20px 20px; color: white; Background: #db8ade; border: none">
    @Html.ActionLink("Back", "Index", "Vocabulary")
</button>

    </div>
</section>

